<section class="reviews">
  <div class="reviews-section container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="review review-1">
        <img class="review-photo" src="/img/Ellipse1.jpg" alt="" />
        <h3 class="review-title-name">John Wax</h3>
        <p class="review-title-text">
          Buying a watch from WatchCharm was the best choice for me. The design
          is perfect combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="review review-2">
        <img class="review-photo" src="/img/Ellipse2.jpg" alt="" />
        <h3 class="review-title-name">Victoria Romasherko</h3>
        <p class="review-title-text">
          Can’t take my eyes off my watch from WatchCharm. Every time I put it
          on, it’s so convenient and exquisite. The build quality and attention
          to detail make me feel special wearing this masterpiece.
        </p>
      </li>
      <li class="review review-3">
        <img class="review-photo" src="/img/Ellipse3.jpg" alt="" />
        <h3 class="review-title-name">Anastasia Trochuk</h3>
        <p class="review-title-text">
          My watch from WatchCharm is a real masterpiece. Every detail impresses
          with the high quality of execution. Special thanks to the store staff
          for helping to choose an impeccable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
